* {
   margin: 0px;
   padding: 0px;
}

   body {
   margin: 0;
   padding: 0;
   background-color: #ededed;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   
}

main{
background-color: #eee;   
}
input{
outline: none ;   
}

.headerCategorias, .header-iconos{
   display:none
}
.header-Logo{
width: 40%;

}

.header-search{
width:51%;
background-color: white;
display:flex;
align-self: center;
border-radius: 4px;
border:1px white solid;

}

.header-container{
display:flex;
flex-wrap: wrap;
padding:20px;
justify-content: space-between;
background-color: #FFE600;
}

.search{
border-style: none;
border-color: white;

padding:6px;

}

.header-bottom{
   border-style: none;
border-color: white;
border-radius: 4px;
background-color: white;
align-self: center;
}

.header-parrafo{
   width: 100%;
   text-align: center;
   font-size: 15px;
   padding:12px;
}

.header-navCategoria{
   width: 100%;
   text-align: center;
   font-size: 15px;
   padding:12px;
}

.header-navCategoria i {
background-color: #0044AA;
color:white;
padding:5px;
border-radius:4px;
   }
 
   


   /*header*/

.articulo1 img{
   width:  100%;
   border-bottom:3px rgb(233, 233, 233) solid;
     
}
.Ofertas{
 font-size: 24px;
 padding:15px;  
 color:grey;
}

.articulo1{
  
   background-color: white; 
   margin:15px;
   border: solid white;
border-radius: 5px;

}

.articulo1 i{
   padding:5px;
   color: green;
   position: relative;
   left: 90%;
   bottom:30px;
}

.articulo1 .precio{
   font-size: 18px;
   font-weight: bold;
   padding:2px;
   
}

.articulo1 .descuento{
   font-size: 18px;
   color: green;
   padding:2px;
}

.articulo1 .nombre{
   font-size: 15px;
   padding:2px;
}


/*footer*/

.footercontainer{
   
background-color: white;
padding:20px;
margin:15px;
}

.footercontainer-1, .copyright{
   
   margin: 20px;
   text-align: center;
}

.footercontainer-1 h3{
   font-size :18px;
   font-weight: bold;

}
.footercontainer-1 p{
   padding:12px ;
   font-size :12px;
}

.footercontainer-1 i {
   color: blue;
}

/*desktop */

@media only screen and (min-width: 769px) {
   
   

   .header-Logo{
      width: 20%;
      
      }
      
      .header-search{
      width:45%;
      background-color: white;
      display:flex;
      align-self: center;
      border-radius: 4px;
      border:1px white solid;
      
      }
      
      .header-container{
         display:flex;
        

      padding:20px;
      background-color: #FFE600;
      }
      
      .search{
      border-style: none;
      border-color: white;
      
      padding:6px;
      
      }
      
      .header-bottom{
         border-style: none;
      border-color: white;
      border-radius: 4px;
      background-color: white;
      align-self: center;
      }
      
      .header-parrafo{
         width: 30%;   
         font-size: 15px;
         padding:12px;
      }
      .header-navCategoria{
        display:none;
      }
      
.headerCategorias, .header-iconos{
   display:block;
   width: 40%;
   font-size :12px;
   font-weight: bold;
   padding:14px;
   
}

.headerCategorias nav{
   margin-top: 20px;
text-align: left;
}
   

.header-iconos nav{
   text-align: right;
   margin-top: 20px;
}
.headerCategorias a{
   padding:5px;
}

.header-iconos a{
   padding:5px;
}

/*header*/


.sectionProductos{
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
}
.articulo1{
   width: 40%;
}
.articulo1 i{
   position: relative;
   left: 85%;
   bottom:30px;
}


@media only screen and (min-width: 1100px) {
   


   .header-Logo{
      width: 10%;
      
      }
      
      .header-search{
      width:45%;
      background-color: white;
      display:flex;
      justify-content: space-between;
      border-radius: 4px;
      border:1px black solid;
      }
      .text-search{
         width: 80%;
      }
      
      .header-container{
         display:flex;
      padding:20px;
      background-color: #FFE600;
      }
      
      .search{
      border-style: none;
      border-color: white;
      padding:6px;
      }
      
      .header-bottom{
         border-style: none;
      border-color: white;
      border-radius: 4px;
      background-color: white;
      align-self: center;
      }
      
      .header-parrafo{
         width: 30%;   
         font-size: 18px;
         padding:12px;
      }
      .header-navCategoria{
        display:none;
      }
      
.headerCategorias, .header-iconos{
   display:block;
   width: 40%;
   font-size :18px;
   font-weight: bold;
   padding:14px;
   text-decoration: none;
   color:black;
 }

.headerCategorias nav{
   margin-top: 20px;
text-align: left;
}
   

.header-iconos nav{
   text-align: right;
   margin-top: 20px;
}
.headerCategorias a{
   padding:5px;
}

.header-iconos a{
   padding:5px;
}
/*header*/


.sectionProductos{
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
}
.articulo1{
   width: 18%;
}
.footercontainer{
   display:flex;
   justify-content: center;
   flex-wrap: wrap;
}
.footercontainer-1{
width: 30%;

}

.articulo1 i {
transition: .4s all;
}

.articulo1 i :hover{
   transform: rotate(360deg);
}

}
.nombre{
   display:none;
}
.articulo1:hover{
   box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.articulo1:hover .nombre {
   display:block;
 
}
.articulo1 i{
   transition: all 2s ease-in-out;
}
.articulo1:hover i{
transform: rotate(360deg);
}
}