* {
   margin: 0px;
   padding: 0px;
}

   body {
   margin: 0;
   padding: 0;
   background-color: #ededed;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   
}

main{
background-color: #eee;   
}
input{
outline: none ;   
}

.header-Logo{
width: 40%;

}

.header-search{
width:51%;
background-color: white;
display:flex;
align-self: center;
border-radius: 4px;
border:1px white solid;

}

.header-container{
display:flex;
flex-wrap: wrap;
padding:20px;
justify-content: space-between;
background-color: #FFE600;
}

.search{
border-style: none;
border-color: white;

padding:6px;

}

.header-bottom{
   border-style: none;
border-color: white;
border-radius: 4px;
background-color: white;
align-self: center;
}

.header-parrafo{
   width: 100%;
   text-align: center;
   font-size: 15px;
   padding:12px;
}

.header-navCategoria{
   width: 100%;
   text-align: center;
   font-size: 15px;
   padding:12px;
}

.header-navCategoria i {
background-color: #0044AA;
color:white;
padding:5px;
border-radius:4px;
   }

   /*header*/

.articulo1 img{
   width:  100%;
   border-bottom:3px rgb(233, 233, 233) solid;
     
}
.Ofertas{
 font-size: 24px;
 padding:15px;  
 color:grey;
}

.articulo1{
  
   background-color: white; 
   margin:15px;
   border: solid white;
border-radius: 5px;

}

.articulo1 i{
   padding:5px;
   color: green;
}

.articulo1 .precio{
   font-size: 18px;
   font-weight: bold;
   padding:2px;
   
}

.articulo1 .descuento{
   font-size: 18px;
   color: green;
   padding:2px;
}

.articulo1 .nombre{
   font-size: 15px;
   padding:2px;
}


/*footer*/

.footercontainer{
   
background-color: white;
padding:20px;
margin:15px;
}

.footercontainer-1, .copyright{
   
   margin: 20px;
   text-align: center;
}

.footercontainer-1 h3{
   font-size :18px;
   font-weight: bold;

}
.footercontainer-1 p{
   padding:12px ;
   font-size :12px;
}

.footercontainer-1 i {
   color: blue;
}