<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ee68e2491f.js" crossorigin="anonymous"></script>

</head>

<body>

    <main>


        <header>


            <div class="header-container">
                
                <div class="header-Logo">
                <img  src="/images/logo-mercado-liebre.svg" alt="img logo">
                </div>
                
                <div class="header-search">
                <input class="search" type="text" id="text" name="search" placeholder=" Ingresá tu búsqueda">
                <bottom class="header-bottom"><i class="fas fa-search"></i></bottom>
                </div>
                
                <div class="header-parrafo">
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
                
                <div class="header-navCategoria">
                <i class="fa-2x fas fa-bars"></i>
                </div>

                
                <div  class="headerCategorias">
                <nav>
                        <a class="header-navIcoIconos" href="">Ofertas</a>
                        <a class="header-navIcoIconos" href="">Tiendas Oficiales</a>
                        <a class="header-navIcoIconos" href="">Vender</a>
                        <a class="header-navIcoIconos" href="">ayuda"</a>
                    </nav>
                </div>
    
                <div class="header-iconos">
                    <nav>
                        <a class="header-navIcoIconos" href"""=<Crea tu cuenta</a> <a class="header-navIcoIconos"
                            href="">Ingresá</a>
                        <a class="header-navIcoIconos" href="">Mis compras</a>
                        <a class="header-navIcoIconos" href="">Carrito</a>
                    </nav>
                </div>
                </div>
        
            

        </header>

        <p class="Ofertas">Basado en tu última visita</p>
        
        <section class="sectionProductos">
            

            <article class="articulo1">
                <img = src="/images/img-cafetera-moulinex.jpg" alt="">
            <i class="fas fa-truck"></i>
            <p class="precio">$6.770</p>
            <p class="descuento">40% off</p>
            <p class="nombre">Cafetera Moulinex</p>  
            </article>

            <article class="articulo1">
                <img = src="/images/img-macbook-pro-2019.jpg" alt="">
            <i class="fas fa-truck"></i>
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            <p class="nombre">MacBook Pro 2019</p>  
            </article>

            <article class="articulo1">
                <img = src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <i class="fas fa-truck"></i>
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            <p class="nombre">Teléfono móvil Samsung Galaxy S10</p>  
            </article>

            <article class="articulo1">
                <img = src="/images/img-tv-samsung-smart.jpg" alt="">
            <i class="fas fa-truck"></i>
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <p class="nombre">SmartTv Samsung 43</p>  
            </article>

        </section>
        
        

        
            <p class="Ofertas">Ofertas!!!</p>

            <section class="sectionProductos">
            <article class="articulo1">
                <img = src="/images/img-cafetera-moulinex.jpg" alt="">
            <i class="fas fa-truck"></i>
            <p class="precio">$6.770</p>
            <p class="descuento">40% off</p>
            <p class="nombre">Cafetera Moulinex</p>  
            </article>

            <article class="articulo1">
                <img = src="/images/img-macbook-pro-2019.jpg" alt="">
            <i class="fas fa-truck"></i>
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            <p class="nombre">MacBook Pro 2019</p>  
            </article>

            <article class="articulo1">
                <img = src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <i class="fas fa-truck"></i>
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            <p class="nombre">Teléfono móvil Samsung Galaxy S10</p>  
            </article>

            <article class="articulo1">
                <img = src="/images/img-tv-samsung-smart.jpg" alt="">
            <i class="fas fa-truck"></i>
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <p class="nombre">SmartTv Samsung 43</p>  
            </article>
        
        </section>
        
        <footer class="footercontainer">

                
                <div class="footercontainer-1">
                    <i class="fas fa-2x fa-credit-card"></i>
                
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con mercadoLiebreCash tenés cuotas sin interés  
                        Con tarjeta o efectivo en puntos de pago. Y siempre
                        es seguro!!!</p>
                    </div>
           
        
           
                <div class="footercontainer-1">
                    <i class="fas fa-2x fa-shipping-fast"></i>
                    <h3>Envío gratis desde los $ 2500</h3>
                    <p>Solo por estar registrado en MercadoLiebre
                         tenés envíos gratis en  miles de productos
                          Es un beneficio de MercadoPuntos.
                    </p>
                    </div>
           
        
           
                <div class="footercontainer-1">
                    <i class="fas fa-2x fa-shield-alt"></i>
                    <h3>Seguridad de principio a fin</h3>
                    <p>No te gusta ? Devolvelo! En MercadoLiebre no 
                        hay nada que no puedas hacer porque estás 
                        siempre protegido.
                    </p>
                    </div>
           
                <div class="copyright">
                <p>Copyright @ 1999-2020 MercadoLiebre S.R</p>
                </div>   

            </footer>        
       

        

    </main>

</body>

</html>