<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/login.css">
    <script src="https://kit.fontawesome.com/ee68e2491f.js" crossorigin="anonymous"></script>
</head>

<body>

   
    <header class="header-container">
           
            <div class="header-container-logo">
                <a href=""><img class="header-Logo" src="/images/logo-mercado-liebre.svg" alt=""/></a>
            </div>
            <div class="header-icono">
                <i  class="fas fa-2x fa-question-circle"></i>
            </div>
            

        </header>

        
        <div class="containerLogin">
        <div class="header-login">
            <p class="header-ingresar">!Hola! Ingresá tu e-mail o usuario</p>
            <input class="header-user" type="text" id="text" name="user" placeholder="E-mail o usuario">
            <button class="header-continuar" type="submit">Continuar</button></p>
            <a class="header-newacc" href="">Crear cuenta</a>
        </div> 
        </div>

           
    <footer class="footer-container">

        <p class="footer-containerCapcha">Protegido por reCAPTCHA- <span class="footerCaptcha"> Privacidad - Condiciones</span></p>
        
    </footer>

        
   





</body>

</html>