<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate en MercadoLiebre</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/register.css">

</head>

<body>

    <main class="main-container">


        <header class="header-container">

            <div class="header-container-logo">
                <img class="header-Logo" src="/images/logo-mercado-liebre.svg" alt="img logo">
            </div>

            <div class="header-containerSearch">
                <input class="header-search" type="text" id="text" name="search" placeholder=" Ingresá tu búsqueda">

                <nav class="header-navCategoria">
                    <a class="header-navIcoIconos" href="">Categorías</a>
                    <a class="header-navIcoIconos" href="">Ofertas</a>
                    <a class="header-navIcoIconos" href="">Historial</a>
                    <a class="header-navIcoIconos" href="">Supermercados</a>
                    <a class="header-navIcoIconos" href="">Tiendas Oficiales</a>
                    <a class="header-navIcoIconos" href="">Vender</a>
                    <a class="header-navIcoIconos" href="">ayuda"</a>
                </nav>
            </div>

            <div class="header-navIco">
                <nav>
                    <a class="header-navIcoIconos" href"""=<Crea tu cuenta</a> <a class="header-navIcoIconos"
                        href="">Ingresá</a>
                    <a class="header-navIcoIconos" href="">Mis compras</a>
                    <a class="header-navIcoIconos" href="">Carrito</a>
                </nav>
            </div>

        </header>

        <div class="main-titulo">
            <p>Completá tus datos</p>
        </div>

        <div class="main-formContainer">
            <form class="form-container" action="" method="get">

                <div class="form-container-name">
                    <input class="header-user" type="text" placeholder="Nombre" id="nombre" name"nombre">
                    <input class="header-user" type="text" placeholder="Apellido" id="apellido" name"apellido">
                </div>

                <div class="form-container-document">
                    <input class="header-user" type="text" placeholder="DNI" id="dni" name"dni">
                </div>

                <div class="form-container-mail">
                    <input class="header-user" type="email" placeholder="Ingrese un email Valido" id="email"
                        name"email">
                    <input class="header-user" type="password" placeholder="Clave" id="clave" name"clave">
                </div>
                <input class="header-userCheckbox" type="checkbox" name="condiciones" value="condiciones"> Acepto los Términ.
            </form>

            <button class="main-button" type="submit">Enviar</button>
        </div>






        <footer class="footercontainer">


            <div>
                <h3>Contás con nosotros en cada compra</h3>
            </div>

            <article">
                <div class="footercontainer-1">
                    <p class="footercontainerTitle">¿Hasta cuándo es el Black Friday?</p>
                    <p class="footercontainerDescri">El Black Friday de Mercado Libre inicia el día 26 de Noviembre a
                        las 00:00 y finaliza a las 23:59 del 30 de Noviembre.</p>
                </div>

                <div class="footercontainer-1">
                    <p class="footercontainerTitle">¿Cuáles son las mejores ofertas del Black Friday?</p>
                    <p class="footercontainerDescri">En el Black Friday de Mercado Libre podrás encontrar los mejores
                        descuentos en categorías como Celulares, Computación, Juguetes y juegos entre otros.</p>
                </div>

                <div class="footercontainer-1">
                    <p class="footercontainerTitle">Consejos para comprar durante el Black Friday</p>
                    <p class="footercontainerDescri">1. Siempre revisá la fecha de entrega del producto así no tendrás
                        sorpresas a la hora de tu compra</p>
                    <p class="footercontainerDescri">2. Revisá la reputación del vendedor al cual comprarás. Mercado
                        Libre califica a sus vendedores por el servicio que entrega. Si su reputación es verde o es una
                        de nuestras Tiendas Oficiales podrás estar tranquilo en que recibirás un excelente servicio.
                    </p>
                    <p class="footercontainerDescri">3. Comprá temprano, es el momento de mayores compras del año y las
                        unidades son limitadas. No te quedes sin tu producto.</p>
                    <p class="footercontainerDescri">4. Mercado Libre ofrece Envíos Gratis en productos seleccionados,
                        siempre revisá en las condiciones de la compra.</p>
                </div class="footercontainer-1">
                </article>



        </footer>
    </main>






</body>

</html>